.venv/
.mypy_cache/
.pytest_cache/
.ruff_cache/
__pycache__/
*.py[cod]
*.egg-info/
.ipynb_checkpoints/
dist/
build/
notebooks/*.html
notebook_test
plotwave-assets/
docs/*.png
docs/*.svg
docs/*.ico
docs/*.webmanifest
